@use "../../lib/func" as *;

.stats-chart {
  background-color: #282D30;
  border-radius: to-rem(5);
  height: 100%;
  max-height: to-rem(320);
  width: 100%;
  font-size: get-fontsize("base");
  font-weight: 500;
  overflow: hidden;
  position: relative;

  &__container {
    width: 100%;
    height: 100%;
    top: 0;
  }
}
