@use '../../lib/func' as *;

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: to-rem(90);
  padding-bottom: to-rem(180);
  width: to-rem(115);
  background: get-color('black');
  height: 100vh;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__copy {
    position: absolute;
    bottom: to-rem(120);
    color: get-color('white');
    font-size: get-fontsize('small');
    overflow: hidden;
    height: max-content;
    transform: rotate(-90deg);
    width: max-content;
    font-weight: 500;
  }
}

.side-bar-menu {
  display: flex;
  flex-direction: column;
  gap: to-rem(20);
  color: get-color('red');

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: to-rem(65);
    aspect-ratio: 1/1;
    background: get-color('white');
    border-radius: to-rem(5);

    svg {
      width: 60%;
      height: 60%;
      object-fit: contain;
    }
  }
}
